<link rel="stylesheet" href="/css/box.css" media="screen" title="no title" charset="utf-8">

<div class="page">
<% groups.forEach(group => { %>
<!-- <div class="card" style="margin: 1rem; height: 20rem; width:20rem; display:inline-block; align:vertical-align">
  <a href="/groups/<%= group.id%>">
  <img class="card-img-top sized" src="<%=group.groupPicture %>" alt="no photo available">
  </a>
  <div class="card-block">
    <h4 class="card-title"><%= group.groupName %></h4>
  </div>
</div> -->


<div class="container">
<div class="content">
 <a href="/groups/<%= group.id%>">
   <div class="content-overlay"></div>
   <% if(group.groupPicture){ %>
     <img class="content-image" src="<%=group.groupPicture %>" alt="no photo available">

   <% } else {%>
     <img class="content-image" src="http://gallery.smartadserver.com/demo_web/image/image_placeholder.png">

  <% } %>
   <div class="content-details fadeIn-bottom">
     <h3 class="content-title"><%= group.groupName %></h3>
     <h5 class="content-text"><%= group.groupDescription %></h5>
   </div>
 </a>
</div>
</div>
<% }) %>
</div>
