<img src="<%= costume.costumePicture %>" alt="Costume Picture" />
<p>
  Costume Name: <%= costume.costumeName %>
  <br>
  Description: <%= costume.costumeDescription %>
  <br>
  Who's Wearing This?
  <br>
  <% costume.users.forEach(function(user) { %>
    <a class="userLink" href="http://localhost:8080/users/<%= user.id %>"><%= user.userFirstName %> <%= user.userLastName %></a>
  <% }) %>
  <br>
  <p class="votes">Votes: <%= costume.costumeVotes %></p>
</p>
<a class="costumeLink" href="<%= costume.costumeLink %>">Buy it on Amazon</a>

<button class="vote" id="<%= costume.id %>" type="button" name="Vote for Costume">Vote for Costume</button>
<button id="editCostume" type="button" name="Edit Costume">Edit Costume</button>
<button id="deleteCostume" type="button" name="Delete Costume">Delete Costume</button>
