<body>
  <div class="groupbox">
    <h1><%= group.groupName %></h1>

  <img src="<%= group.groupPicture %>" width="200px">
  <p>Description: <%=group.groupDescription %></p>
  <p> Members: <% group.users.forEach(u => { %>
    <a href="/users/<%=u.id %>"><%= u.userFirstName %></a>
  <% }) %>
</p>

</div>
<a href="/groups"><button type="button" name="button">Back to Groups</button></a>
<% if (mine) { %>
  <a href="/groups/<%=group.id%>/edit"><button id="editGroup" type="button" name="Edit Group">Edit Group</button></a>
  <form action="/groups/<%= group.id %>?_method=DELETE" method="post">
    <input class="button-delete" type="submit" value="Delete Group">
  </form>
<% } %>
</body>
