<div class="userInfo">
  <img src="<%= user.userPicture %>" alt="Profile picture" />
  <p>
    First Name: <%= user.userFirstName %>
    <br>
    Last Name: <%= user.userLastName %>
    <br>
    Email: <%= user.userEmail %>
    <br>
    Number of Votes Left: <%= user.userVotes %>
    <br>
  </p>
</div>

<div class="userAssociations">
  <h3>My Costumes</h3>
  <% if(user.costumes.length === 0) { %>
    <p>
      You don't have any costumes yet.
    </p>
  <% } else { %>
    <% user.costumes.forEach(function(costume) { %>
      <img src="<%=costume.costumePicture%>" alt="Costume Picture" />
      <a class="costumeLink" href="http://localhost:8080/costumes/<%= costume.id %>"><%= costume.costumeName %></a>
      <p>
        <%= costume.costumeDescription %>
      </p>
      <a href="<%= costume.costumeLink %>">Buy it on Amazon</a>
      <a class="userLink transparent" href="http://localhost:8080/users/<%= user.id %>"><%= user.userFirstName %> <%= user.userLastName %></a>
      <button class="vote" id="<%= costume.id %>" type="button" name="Vote for Costume">Vote for Costume</button>
    <% }) %>
  <% } %>

  <h3>My Groups</h3>
  <% if(user.groups.length === 0) { %>
    <p>
      You don't have any groups yet.
    </p>
  <% } else { %>
    <% user.groups.forEach(function(group) { %>
      <img src="<%=group.groupPicture%>" alt="Group Picture" />
      <h4><%= group.groupName %> </h4>
      <p>
        <%= group.groupDescription %>
      </p>
    <% }) %>
  <% } %>

</div>

<% if (me) {%>
  <a href="/users/<%=user.id%>/edit"><button id="editUser" type="button" name="Edit Profile">Edit Profile</button></a>
<% } %>

<a href="/costumes/create"><button id="createCostume" type="button" name="Create a Costume">Create a Costume</button></a>
<a href="/groups/create"><button id="createGroup" type="button" name="Create a Group">Create a Group</button></a>
<<<<<<< HEAD
<button id="joinGroup" type="button" name="Join a Group">Join a Group</button>
<button type="button" name="Delete Account">Delete Account</button>
<button type="button" name="Delete Account" disabled>Delete Account</button>
