<div class="page">
<div class="userInfo">

  <div class="card" style="margin-bottom:2rem;">
    <div class="card-block">
      <h2>
        User: <b><%= user.userFirstName %> <%= user.userLastName %></b>
      </h2>
        <br>
      <h3>
        Email: <%= user.userEmail %>
      </h3>
        <br>
    </div>
  <img class="card-img-top" src="<%= user.userPicture %>" alt="no photo available">
</div>

</div>

<div class="userAssociations">
  <div class="card" style="margin-bottom:2rem;">
  <div class="card-block">
    <h4 class="card-title">Costumes</h4>
    <p>
      <% if(user.costumes.length === 0) { %>
        <p>
          You don't have any costumes yet.
        </p>
      <% } else { %>
        <% user.costumes.forEach(function(costume) { %>
        <a class="costumeLink" href="/costumes/<%= costume.id %>">
            <img src="<%=costume.costumePicture%>" alt="Costume Picture" />
          </a>
          <h4>
            <b><%= costume.costumeName %></b>
          </h4>
          <a class="userLink transparent" href="/users/<%= user.id %>"><%= user.userFirstName %> <%= user.userLastName %></a>
        <% }) %>
      <% } %>
    </p>

  </div>
</div>


<div class="card" style="margin-bottom:2rem;">
<div class="card-block">
  <h4 class="card-title">Groups</h4>
    <p class="card-text">
      <% if(user.groups.length === 0) { %>
        <p>
          You don't have any groups yet.
        </p>
        <% } else { %>
       <% user.groups.forEach(function(group) { %>
         <a class="groupLink" href="/groups/<%= group.id %>"><%= group.groupName %></a>

         </p>
       <% }) %>
     <% } %>


    </p>

</div>
</div>


</div>

<% if (me) { %>
  <a href="/users/<%=user.id%>/edit"><button id="editUser" class="btn btn-secondary" type="button" name="Edit Profile">Edit Profile</button></a>
  <form action="/users/<%= user.id %>?_method=DELETE" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button id="deleteUser" class="btn btn-danger" type="submit" name="delete">Delete Account</button>
  </form>
<% } %>
</div>
